# cst constraint descriptor for germacrene conformer docking 
# T.E.O'Brien,  Siegel Lab UCD, teobrien@ucdavis.edu  
#constraints AAA

# NOTE


#1 - Second Ionization here, Y504 to H7.
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C10 C8 C7
  TEMPLATE::   ATOM_MAP: 1 residue3: Y00

  TEMPLATE::   ATOM_MAP: 2 atom_name: O7 P2 O1
  TEMPLATE::   ATOM_MAP: 2 residue3:  X00

  CONSTRAINT:: distanceAB:    3.0  0.5    500  1    3
# CONSTRAINT::    angle_A:  180.0 20.0    50   360. 2
  CONSTRAINT::    angle_B:   90.0 70.0    50   360. 2
# CONSTRAINT::  torsion_A:    0.0  0.0    0    360. 2
# CONSTRAINT:: torsion_AB:    0.0  0.0    0    360. 2
# CONSTRAINT::  torsion_B:    0.0 40.0    50   180. 2
CST::END

#2 - MgPh O1 to Y00 C9 PPi leaves from this carbon
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C8 C7 C6
  TEMPLATE::   ATOM_MAP: 1 residue3: Y00

  TEMPLATE::   ATOM_MAP: 2 atom_name: O7 P2 O1
  TEMPLATE::   ATOM_MAP: 2 residue3:  X00

  CONSTRAINT:: distanceAB:    3.0  0.5    500  1    3
# CONSTRAINT::    angle_A:  180.0 20.0    0    360. 2
# CONSTRAINT::    angle_B:  110.0 20.0    50   360. 2
# CONSTRAINT::  torsion_A:    0.0  0.0    0    360. 2
# CONSTRAINT:: torsion_AB:    0.0  0.0    0    360. 2
# CONSTRAINT::  torsion_B:    0.0  0.0    0    360. 2
CST::END

#3 - Deprotonation (exocyclic isopropylene) O7 to C13 
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C7 C8 C10
  TEMPLATE::   ATOM_MAP: 1 residue3: Y00

  TEMPLATE::   ATOM_MAP: 2 atom_name: O7 P2 O1
  TEMPLATE::   ATOM_MAP: 2 residue3:  X00

  CONSTRAINT:: distanceAB:    3.0  0.5    500  1    3
# CONSTRAINT::    angle_A:  110.0 20.0    50   360. 2
# CONSTRAINT::    angle_B:  110.0 20.0    50   360. 2
# CONSTRAINT::  torsion_A:    0.0  0.0    0    360. 2
# CONSTRAINT:: torsion_AB:    0.0  0.0    0    360. 2
# CONSTRAINT::  torsion_B:    0.0  0.0    0    360. 2
CST::END

#4 - D817 to MG1
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: MG1 O6 P2
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: OD2 CG CB
  TEMPLATE::   ATOM_MAP: 2 residue1:  D

  CONSTRAINT:: distanceAB:    2.0   0.1   500  1    3
# CONSTRAINT::    angle_A:    0.0   0.0     0  360. 2
  CONSTRAINT::    angle_B:  143.3  10.0    50  360. 2
# CONSTRAINT::  torsion_A:    0.0   0.0     0  360. 2
  CONSTRAINT:: torsion_AB:  197.4   5.0    50  360. 2
# CONSTRAINT::  torsion_B:  197.4   5.0    50  360. 2
CST::END
 
#5 - D817 to MG2
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: MG2 O6 P2
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: OD2 CG CB
  TEMPLATE::   ATOM_MAP: 2 residue1:  D

  CONSTRAINT:: distanceAB:    2.3   0.1   500  1    3
# CONSTRAINT::    angle_A:    0.0   0.0     0  360. 2
  CONSTRAINT::    angle_B:  125.8   6.0    50  360. 2
# CONSTRAINT::  torsion_A:    0.0   0.0     0  360. 2
  CONSTRAINT:: torsion_AB:  158.4   5.0    50  360. 2
# CONSTRAINT::  torsion_B:  150.0  46.0    50  360. 2
CST::END

#6 - D813_OD1 to MG1 
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: MG1 O6 P2
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: OD1 CG CB
  TEMPLATE::   ATOM_MAP: 2 residue1:  D

  CONSTRAINT:: distanceAB:    1.95  0.1   500  1    3
# CONSTRAINT::    angle_A:    0.0   0.0     0  360. 2
  CONSTRAINT::    angle_B:  125.1   5.0    50  360. 2
# CONSTRAINT::  torsion_A:    0.0   0.0     0  360. 2
  CONSTRAINT:: torsion_AB:  310.4  10.0    50  360. 2
# CONSTRAINT::  torsion_B: -137.0  40.0    50  360. 2
CST::END

#7 - D813_OD2 to MG2
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: MG2 O6 P2
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: OD2 CG CB
  TEMPLATE::   ATOM_MAP: 2 residue1:  D

  CONSTRAINT:: distanceAB:    2.0   0.1   500  1    3
# CONSTRAINT::    angle_A:    0.0   0.0     0  360. 2
  CONSTRAINT::    angle_B:  132.9   2.0    50  360. 2
# CONSTRAINT::  torsion_A:    0.0   0.0     0  360. 2
  CONSTRAINT:: torsion_AB:   51.6   5.0    50  360. 2
# CONSTRAINT::  torsion_B:  165.0   5.0    50  360. 2
CST::END

#8 - D958 to MG3  
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: MG3 O3 P1
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_type: OOC
  TEMPLATE::   ATOM_MAP: 2 residue1:  D

  CONSTRAINT:: distanceAB:    2.3   0.2  500  1    3
# CONSTRAINT::    angle_A:    0.0   0.0    0  360. 2
  CONSTRAINT::    angle_B:  137.2  11.0   50  360. 2
# CONSTRAINT::  torsion_A:    0.0   0.0    0  360. 2
  CONSTRAINT:: torsion_AB:   16.0  25.0   50  360. 2
# CONSTRAINT::  torsion_B:  215.0  32.0   50  360. 2
CST::END

#9 - E966 to MG3  
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: MG3 O3 P1
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_type: OOC
  TEMPLATE::   ATOM_MAP: 2 residue1:  E

  CONSTRAINT:: distanceAB:    2.2   0.2  500  1    3
# CONSTRAINT::    angle_A:    0.0   0.0    0  360. 2
  CONSTRAINT::    angle_B:  116.6   5.0   50  360. 2
# CONSTRAINT::  torsion_A:    0.0   0.0    0  360. 2
  CONSTRAINT:: torsion_AB:  241.1  37.4   50  360. 2
# CONSTRAINT::  torsion_B:  215.0  32.0   50  360. 2
CST::END
